@{
    string adminName = ViewBag.AdminName ?? "Admin";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/images/logo/196c55ff-4859-41a3-81cd-6449287c1850.png" />
    <title>@ViewData["Title"] | MakeMore International</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="~/css/app.css" rel="stylesheet">
    <link href="~/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand d-flex align-items-center gap-2" href="#">
                   
                        <span class="display-2 fw-bold" style="color: #51A22C;">
                            <img src="/images/logo/196c55ff-4859-41a3-81cd-6449287c1850.png" width="60" class="mt-0 mx-auto d-block" alt="">
                        </span>
                        <!-- <img src="Images/fav.png" class="" width="70" alt="">--->
                            <span class="pt-2" style="color: #4FCB51;">
                        <h4 class="mb-0 fw-bold" style="font-size: 25px;line-height: 0.7;color: #4FCB51;">
                                Makemore
                            </h4>
                            <span style="letter-spacing: 0.7px;font-size: 14px;-color: white;">
                                International LLP
                            </span>
                        </span>                        
                    
                    @* <span class="align-middle">AdminKit</span> *@
                </a>               

                <ul class="sidebar-nav">
                    <li class="sidebar-header">Pages</li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="Dashboard" asp-area="ho">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="WebSetting" asp-area="ho">
                            <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Web Setting</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="Category" asp-area="ho">
                            <i class="align-middle" data-feather="list"></i> <span class="align-middle">Category</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="Product" asp-area="ho">
                            <i class="align-middle" data-feather="box"></i> <span class="align-middle">Product</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#harvest-menu" class="sidebar-link" data-bs-toggle="collapse">
                            <i class="align-middle" data-feather="pie-chart"></i> <span class="align-middle">Harvest Chart <i class="align-middle float-end mt-1" data-feather="chevron-down"></i></span>
                        </a>
                        <ul class="collapse p-0 m-0" id="harvest-menu">
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-action="Index" asp-controller="HarvestCategory" asp-area="ho"><i class="align-middle" data-feather="pie-chart"></i> Categories</a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-action="Index" asp-controller="HarvestProduct" asp-area="ho"><i class="align-middle" data-feather="layers"></i> Products</a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" asp-action="Index" asp-controller="HarvestSeason" asp-area="ho"><i class="align-middle" data-feather="layers"></i> Season</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Edit" asp-controller="AboutUs" asp-area="ho"><i class="align-middle" data-feather="layers"></i> About Us</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="TeamMember" asp-area="ho"><i class="align-middle" data-feather="layers"></i> Team Member</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Banner" asp-controller="TeamMember" asp-area="ho"><i class="align-middle" data-feather="layers"></i> Team Banner</a>
                    </li>
                    @* <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="HarvestProduct" asp-area="ho">
                            <i class="align-middle" data-feather="layers"></i> <span class="align-middle">Harvest Chart Products</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-action="Index" asp-controller="HarvestSeason" asp-area="ho">
                            <i class="align-middle" data-feather="layers"></i> <span class="align-middle">Harvest Chart</span>
                        </a>
                    </li> *@
                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <img src="/images/logo/196c55ff-4859-41a3-81cd-6449287c1850.png" class="avatar img-fluid rounded me-1" alt="@adminName" />
                                <span class="text-dark">@adminName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="settings"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Login" asp-area="ho"><i class="align-middle me-1" data-feather="log-out"></i> Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                @RenderBody()
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-12 text-center">
                            <p class="mb-0">
                                <a href="#" target="_blank" style="color:#0b5345;"><strong>MakeMore International</strong></a> &copy; @DateTime.Now.Year
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="~/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
